{% extends 'home/base.html' %} {% load static %} {% block body %}
<main>
  <!--? slider Area Start-->
  <section class="slider-area slider-area2">
    <div class="slider-active">
      <!-- Single Slider -->
      <div class="single-slider slider-height2">
        <div class="container">
          <div class="row">
            <div class="col-xl-8 col-lg-11 col-md-12">
              <div class="hero__caption hero__caption2">
                <h1 data-animation="bounceIn" data-delay="0.2s">Dashboard</h1>
                <!-- breadcrumb Start-->
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                      <a href="{% url 'home:homepage' %}">Home</a>
                    </li>
                    <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                  </ol>
                </nav>
                <!-- breadcrumb End -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div style="margin-top: 10px; margin-bottom: 10px"></div>
  <!-- Courses area start -->
</div>
  <div class="container my-5 my-5">
    <div class="row">
      <div class="col-12 col-md-8">
        <div class="card">
          <div class="card-body bg-success rounded white-color font-weight-bold">
            Completed Courses
          </div>
        </div>
        <div class="pb-4">
          <div class="row">
          {% if not completed %}
              <div class="col-6 col-md-3 my-3">No completed courses </div>
          {% endif %}
            {% for course in completed %}
            <div class="col-6 col-md-3 my-3">
            <a href="{% url 'home:lesson' course.id %}">
              <div
                class="border-0 each_col py-5 bg-info d-flex align-items-center  justify-content-center flex-column overflow-hidden"
              >
                <div
                  class="rounded-circle bg-white d-flex align-items-center justify-content-center black-color"
                  style="width: 50px; height: 50px"
                >
                  <i class="ri-presentation-line"></i>
                </div>
                <div class="text_col">{{ course.lesson.name }}</div>
                <div class="text_col_price">${{ course.lesson.price }}</div>
              </div>
                </a>
            </div>
              {% endfor %}
          </div>
        </div>
                  <div class="card">
          <div class="card-body bg-warning rounded white-color font-weight-bold">
            Active Courses
          </div>
        </div>
        <div class="pb-4">
          <div class="row">
            {% if not running %}
              <div class="col-6 col-md-3 my-3">No active courses </div>
            {% endif %}

              {% for runcourse in running %}
            <div class="col-6 col-md-3 my-3">
                <a href="{% url 'home:lesson' runcourse.id %}">
              <div class="border-0 each_col py-5 bg-primary d-flex align-items-center justify-content-center flex-column overflow-hidden">
                <div class="rounded-circle bg-white d-flex align-items-center black-color justify-content-center" style="width: 50px; height: 50px">
                  <i class="ri-presentation-line"></i>
                </div>
                <div class="text_col">{{ runcourse.lesson.name}}</div>
                <div class="text_col_price"> Progress: {{ runcourse.progress }}%</div>
              </div>
                </a>
            </div>
              {% endfor %}
          </div>
        </div>
            <div class="card">
          <div class="card-body bg-info rounded white-color font-weight-bold">
            Recent Payments
          </div>
        </div>
        <br/>
        <div
          class="border-0 bg-white overflow-hidden"
          style="border-radius: 10px"
        >
          <div class="row p-4">
            <div class="col-lg-12 col-sm-auto col-md-auto overflow-hidden">
              <table class="table">
              {% if transactions %}
                <thead style="font-size: 14px">
                  <tr>
                    <th scope="col">Date</th>
                    <th scope="col">TransactionID</th>
{#                    <th scope="col">Course Name</th>#}
                    <th scope="col">Description</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Status</th>
                  </tr>
                </thead>
              {% else %}
                <div class="col-6 col-md-3 my-3">No recent payments </div>
                {% endif %}
                <tbody>
                {% for trans in transactions %}
                  <tr style="font-size: 12px">
                    <td>{{ trans.created_on | date }}</td>
                    <td>{{ trans.transaction_id | truncatechars:20 }}</td>
{#                    <td>{{ trans.plan.name | capfirst }}</td>#}
                    <td>{{ trans.detail }}</td>
                    <td>${{ trans.amount }}</td>
                      {% if trans.status == "success" %}
                    <td style="background-color: green; border-radius: 20px; text-align: center; color: white; "><strong>{{ trans.status }}</strong></td>
                  {% elif trans.status == "pending" %}
                  <td style="background-color: yellow; border-radius: 20px; text-align: center; color: black; "><strong>{{ trans.status }}</strong></td>
                  {% else %}
                      <td style="background-color: red; border-radius: 20px; text-align: center; color: white; "><strong>{{ trans.status }}</strong></td>
                  {% endif %}
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4 my-0 my-md-3">
        <div class="w-full h-100 p-3" style="border-radius: 10px; background-color: rgba(255,148,30,0.18)">
          <div style="margin-left: 2%">
              <br>
              <div>
                  Hello! <strong>{{ request.user.get_full_name }}</strong>
              </div>
              <br>
              <div>
                  <strong><em>Completed Lessons:</em> <span>{{ completed.count }}</span></strong><br>
                  <strong><em>Uncompleted Lessons:</em> <span>{{ running.count }}</span></strong><br>
                  <strong><em>Total Transactions:</em> <span>{{ total_transaction.count }}</span></strong>
              </div>

          </div>
        </div>
      </div>
    </div>
  </div>

  <style>
    body {
      background-color: #eee;
    }

    .card {
      border: none;
      border-radius: 10px;
    }

    .c-details span {
      font-weight: 300;
      font-size: 13px;
    }

    .icon {
      width: 50px;
      height: 50px;
      background-color: #eee;
      border-radius: 15px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 39px;
    }

    .badge span {
      background-color: #fffbec;
      width: 60px;
      height: 25px;
      padding-bottom: 3px;
      border-radius: 5px;
      display: flex;
      color: #fed85d;
      justify-content: center;
      align-items: center;
    }

    .progress {
      height: 10px;
      border-radius: 10px;
    }

    .progress div {
      background-color: red;
    }

    .text1 {
      font-size: 14px;
      font-weight: 600;
    }

    .text2 {
      color: #a5aec0;
    }

    .each_col {
      border-radius: 10px;
      gap: 10px;
    }

    .each_col > .text_col {
      font-size: 12px;
      font-weight: 600;
    }

    .text_col_price {
      font-weight: 900;
      font-size: 14px;
    }

    .custom-gap {
      display: flex;
      align-items: center;
      gap: 10px; /* Adjust the gap as needed */
    }
  </style>
  <!-- account end -->
</main>

{% endblock %}
