{% extends 'home/base.html' %} {% load static %} {% block body %}
<main>
  <!--? slider Area Start-->
  <section class="slider-area slider-area2">
    <div class="slider-active">
      <!-- Single Slider -->
      <div class="single-slider slider-height2">
        <div class="container">
          <div class="row">
            <div class="col-xl-8 col-lg-11 col-md-12">
              <div class="hero__caption hero__caption2">
                <h1 data-animation="bounceIn" data-delay="0.2s">Course Detail</h1>
                <!-- breadcrumb Start-->
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                      <a href="{% url 'home:homepage' %}">Home</a>
                    </li>
                    <li class="breadcrumb-item"><a href="#">Course Detail</a></li>
                  </ol>
                </nav>
                <!-- breadcrumb End -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div style="margin-top: 10px; margin-bottom: 10px"></div>
  <!-- Courses area start -->
  <div class="container my-5 my-5">
    <div>
      <div class="mx-auto text-center">
        <div style="font-weight: bold; font-size: large">{{ volca.vocabulary.title }}</div>
<br/>
        <div class="bg-primary mx-auto video_size">
          <video controls class="video" style="border-radius: 10px">
            <source
              src="{% get_media_prefix %}{{ volca.vocabulary.video_file }}"
              type="video/mp4"
            />
          </video>
          <p style="font-size: medium">{{ volca.vocabulary.text }}</p>
        </div>

        <audio controls class="audio_size">
          <source src="{% get_media_prefix %}{{ volca.vocabulary.audio_file }}" type="audio/mpeg" />
        </audio>
          <br/>
          <div>
              <br/>
              <a class="btn btn-success" href="{% url 'home:upload_audio' %}">Record Audio</a>

          </div>
      </div>
    </div>
  </div>

  <style>
    .video_size {
      width: 600px;
      height: 350px;
      border-radius: 10px;
      background-color: aliceblue;
    }

    .video {
      width: 600px;
      height: 300px;
      border-radius: 10px;
    }

    .audio_size {
      width: 600px;
      margin-top: 20px;
    }

    @media only screen and (max-width: 700px) {
      .video_size {
        width: 300px;
        height: 250px;
        border-radius: 10px;
      }

      .video {
        width: 300px;
        height: 200px;
        border-radius: 10px;
      }

      .audio_size {
        width: 300px;
        margin-top: 20px;
      }
    }
  </style>
  <!-- account end -->
</main>

{% endblock %}
