{% extends 'home/base.html' %} {% load static %} {% block body %}
<main>
  <!--? slider Area Start-->
  <section class="slider-area slider-area2">
    <div class="slider-active">
      <!-- Single Slider -->
      <div class="single-slider slider-height2">
        <div class="container">
          <div class="row">
            <div class="col-xl-8 col-lg-11 col-md-12">
              <div class="hero__caption hero__caption2">
                <h1 data-animation="bounceIn" data-delay="0.2s">Your Course</h1>
                <!-- breadcrumb Start-->
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                      <a href="{% url 'home:homepage' %}">Home</a>
                    </li>
                    <li class="breadcrumb-item"><a href="#">Your Course</a></li>
                  </ol>
                </nav>
                <!-- breadcrumb End -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div style="margin-top: 10px; margin-bottom: 10px"></div>
  <!-- Courses area start -->
  <div class="container my-5 my-5">
    <div class="mx-auto lesson_size">
      <h3 style="font-weight: 700">{{ lesson.lesson.name }}</h3>
      <div class="my-5">
        <div
          class="progress"
          role="progressbar"
          aria-label="Example with label"
          aria-valuenow="{{ lesson.progress }}"
          aria-valuemin="0"
          aria-valuemax="100"
        >
          <div class="progress-bar" style="width: 25%">{{ lesson.progress }}%</div>
        </div>
      </div>
      <div class="border-1 border h-100 px-4" style="border-radius: 10px">
        <div
          class="d-flex align-items-center justify-content-between my-4 overflow-hidden"
        >
          <div class="custom_flex">
            <div>
              <img
                src="{% static 'home' %}/assets/img/blog/slide_thumb_1.png"
                class="object-fit rounded-circle"
                style="height: 70px; width: 70px"
              />
            </div>
            <div>
              <div style="font-size: 14px; font-weight: bold">Hello!</div>
              <div style="font-size: 12px">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
              </div>
            </div>
          </div>
          <div
            class="bg-danger text-white px-4 py-2"
            style="border-radius: 20px; font-size: 10px; font-weight: bold"
          >
            completed
          </div>
        </div>
      </div>
    </div>
  </div>

  <style>
    .custom_flex {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 10px;
    }

    .lesson_size {
      width: 50%;
    }

    @media only screen and (max-width: 700px) {
      .lesson_size {
        width: 100%;
      }
    }
  </style>
  <!-- account end -->
</main>

{% endblock %}
